* {
  margin: 0;
  border: 0;
  padding: 0;
}

#container,
#container2 {
  width: 640px;
  height: 640px;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

button {
  display: block;
  margin: 10px auto;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(188, 244, 176, 0.305);
  font-weight: bold;
}

p {
  text-align: center;
  font-size: large;
}

.box {
  opacity: 0;
}
