* {
  margin: 0;
  border: 0;
  padding: 0;
}

#container {
  width: 640px;
  height: 640px;
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box {
  border: 1px solid black;
  width: 38px;
  height: 38px;
}
